.faqs {
	width : 856px;
  height : 722px;
  background-color : white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  text-align : left;
  padding-top : 10px;
  margin-left : 400px;
}

.faqs .faq {
  width: 856px;
	margin : 20px 0 20px 0;
	background-color: #FFF;
  border-bottom: solid 1px #E7E7E7;
}

.faqs .faq .faq-question {
	position: relative;
  width : 806px;
  font-size : 18px;
  font-weight : bold;
  padding : 20px 20px 20px 40px;
  color : #8C8C8C;
  z-index: 0;
}
.faq-question:active {
    color : #0095C8;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-70%);
	width: 30px;
	height: 30px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  transition: all 0.4s ease-out;
}

.faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
  transition: all 0.4s ease-out;
  font-size : 16px;
  width : 796px;
  height : 140px;
  background-color :#E7E7E7;
  margin-top : 20px;
  line-height : 30px;
}

.faqs .faq.open .faq-question {
	margin: 10px, 0, 10px, 20px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
    
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
  opacity: 1; 
  padding : 20px 20px 20px 40px;
}